<% provide(:title, 'About us') %> 
  <h1>Sample App</h1>
  <p>
  Get About us information at
  <a href="http://www.cornell.edu/">About page</a>.  
  Find me in app/views/static_pages/about.html.erb
  </p>
