<% provide(:title, 'Contact') %>
    <h1>Sample App Contact</h1>
    <p>
    Get contact at Contact page
      <a href="localhost:3000/static_pages/help/">Help page</a>.  
      Find me in app/views/static_pages/contact.html.erb
    </p>
