<footer class="footer">
  <small>
    <a href="http://www.caltech.edu/">General Relativity</a>
    By Albert Einstein
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://alumni.caltech.edu/">Alumni News</li>
    </ul>
  </nav>
</footer>
  
